:root {
  --color-primary-200: #faf0ca;
  --color-primary-500: #f4d35e;
  --color-background-500: #0d3b66;
  --color-light-1: #ee964b;
  --color-dark-1: #f95738;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  color: var(--color-primary-500);
  font-weight: 500;
  line-height: 1.6;
  background-color: var(--color-background-500);
}

.list {
  list-style: none;
  padding: 0.8rem 0;
}

.character-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

li.unselected {
  border: 1px solid var(--color-dark-1);
  background-color: var(--color-dark-1);
  color: var(--color-primary-200);
}

.list.character-items li {
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-primary-200);
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.app {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}
